name: "CLA"
on:
  issues:
    types: [opened, closed]
  

jobs:
  CLA:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      
    - name: "TEST ACTION"
      uses: ibakshay/action-template@dev
      with: 
        mytoken: ${{ secrets.GITHUB_TOKEN }}   
    - name: Print a greeting
      env:
        MY_VAR: Hi there! My name is
        FIRST_NAME: Mona
        MIDDLE_NAME: The
        LAST_NAME: Octocat
      run: |
        echo $MY_VAR $FIRST_NAME $MIDDLE_NAME $LAST_NAME.
    - name: GitHub Event Name
      run: |
        echo The ${{ github.event_name }} event triggered this step.
